<h1 id="page-title" style="font-size:40pt;line-height:1.05;margin-top:40mm">{{title}}</h1>
<p class="lede">{{lede}}</p>
{{{bodyHtml}}}
<p class="small" style="position:absolute;bottom:25mm">
  Edition {{edition}} · Version {{version}}<br>
  {{license}}
</p>
